.arc {
  stroke-weight: 0.1;
  fill: #fff;
}

.arc2 {
  fill: #3660b0;
}

.label {
  text-anchor: middle;
}

.radial-svg {
  display: block;
  margin: 0 auto;
}
.top_contact {
    display: inline-block;
    margin: 0px 10px;
}
.top_right {
    float: right;
}
.top_social a {
    margin: 0 8px;
}